<footer class="footer">
  <div class="footer__container">
    <div class="footer__content">
      <div class="footer__upper">
        <div class="footer__logo">
          <img src="assets/footer-logo.png" alt="Company Logo" class="footer__logo-image">
        </div>
        <div class="footer__links">
          <div class="footer__link-item">
            <a href="#" class="footer__link">TOP</a>
          </div>
          <div class="footer__link-item">
            <a href="#" class="footer__link">事例紹介</a>
          </div>
          <div class="footer__link-item">
            <a href="#" class="footer__link">サービス紹介</a>
          </div>
          <div class="footer__link-item">
            <a href="#" class="footer__link">セミナー</a>
          </div>
          <div class="footer__link-item">
            <a href="#" class="footer__link">会社概要</a>
          </div>
        </div>
      </div>
      <div class="footer__lower">
        <div class="footer__legal">
          <a href="#" class="footer__privacy">プライバシーポリシー</a>
        </div>
        <div class="footer__copyright">
          Copyright © All rights reserved.
        </div>
      </div>
    </div>
  </div>
</footer>
